#abovenav {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
#abovenav img {
  width: 100%;
  height: 80px; 
  object-fit: cover; 
  display: block; 
}
/*found on w3schools*/

.navbar {
    background-color: #ECECEC;
 
}

#abovenav {
    background-color: #000000;
}

.navbar a {
    color: #000000;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
  }
  .text {
    position: absolute;
    top: 50px;
    left: 75px;
    color: white;
    font-size: 11vw;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 0.8;
    letter-spacing: 3.3px;
    text-transform: uppercase;

  }
  /*found this bebas neue from chatgpt*/
  .logo {
    position: absolute;
    bottom: 20px;
    left: 75px;
    height: 100px;
  
  
  }
  .button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 40px 70px;
    background-color: #FF800A;
    color: #D16120;
    font-size: 2rem;
    font-weight: bold;
  }

  .button:hover {
    background-color: rgb(255, 199, 130);
  }